<footer class="container-fluid bg-colorfull gradient-flip footer">
    <div class="container with-vertical-padding text-center">
        <div class="row">
            <div class="col-md-6">&copy; 2017 Leonid Serdiuk, All rights reserved</div>
            <div class="col-md-6">FaceBook, LinkedIn</div>
        </div>
    </div>
</footer>